@import url('https://fonts.googleapis.com/css2?family=Poppins:wght2300;400;500;600&display=swap');

:root {
    --main-color: #F7C08A;
    --color-dark: #444444;
    --text-gray: #555756;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -------------start home page-------------- */
/* start nav  */
header {
    background-color: var(--color-dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.166);
}

header nav {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .brand h3 {
    color: #ffffff;
    font-size: 25px;
}

header nav .nav-list {
    display: flex;
    height: 100%;
    align-items: center;
}

header nav .nav-list li {
    padding: 0 25px;
    display: flex;
    height: 100%;
    align-items: center;
    transition: .35s;
}


header nav .nav-list li:hover a {
    color: var(--main-color);
}

header nav .nav-list li.active {
    background-color: var(--text-gray);
}

header nav .nav-list li.active a {
    color: var(--main-color);
}

header nav .nav-list li a {
    color: #ffffff;
    transition: .35s;
}

@media (max-width: 768px) {
    header nav .nav-list {
        display: none;
    }
}

/* responsive  */
header nav button {
    display: inline-block;
    outline: none;
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
}

header nav button i {
    font-size: 20px;
    color: #ffffff;
}

@media (max-width: 768px) {
    header nav button {
        display: inline-block;
    }
}

header nav .reponsive-nav {
    width: 300px;
    position: fixed;
    top: 9vh;
    right: -300px;
    background-color: #eee;
    background: linear-gradient(to bottom, var(--color-dark), #eee);
    height: 100%;
    padding-top: 100px;
    transition: .35s;
    z-index: 100;
}

header nav .reponsive-nav.show {
    right: 0;
}

header nav .reponsive-nav li {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    transition: .35s;
}

header nav .reponsive-nav li:hover {
    background-color: var(--text-gray);
}

header nav .reponsive-nav li a {
    color: #ffffff;
    transition: .35s;
}

header nav .reponsive-nav li:hover a {
    color: var(--main-color);
}

/* start hero------- */
#hero {
    background-size: cover !important;
    height: 650px;
    position: relative;
    margin-top: 9vh;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 74, 79, 0.46);
    padding-top: 240px;
}

#hero h1 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width:576px) {
    #hero h1 {
        font-size: 30px;
    }
}

#hero h1 span {
    color: var(--main-color);
}

#hero p {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

@media(max-width:576px) {
    #hero p {
        font-size: 14px;
    }
}

#hero a {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    transition: .35s;
}

@media(max-width:576px) {
    #hero a {
        font-size: 14px;
        padding: 10px 15px;
    }
}

#hero a:hover {
    background-color: var(--main-color);
    color: var(--color-dark);
}

/* strat history sec */
#history {
    display: flex;
}

@media(min-width: 768px) {
    #history {
        height: 450px;
    }
}

@media(max-width: 768px) {
    #history {
        flex-direction: column;
    }
}

#history div:first-child {
    width: calc(100% / 2);
    background-color: var(--color-dark);
}

@media(max-width:768px) {
    #history div:first-child {
        /* width: 100%; */
        display: none;
    }
}

#history div:first-child img {
    width: 100%;
    object-fit: cover !important;
}

@media(min-width: 768px) {
    #history div:first-child img {
        height: 450px;
    }
}

#history div:last-child {
    width: calc(100% / 2);
    padding: 70px 100px;
    background-color: var(--color-dark);
}

@media(min-width:768px) and (max-width: 1200px) {
    #history div:last-child {
        padding: 50px 20px;
    }
}

@media (max-width:768px) {
    #history div:last-child {
        padding: 50px 10px;
        width: 100%;
    }
}

#history div:last-child h3 {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

@media(min-width:576px) and (max-width: 992px) {
    #history div:last-child h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

@media(max-width:576px) {
    #history div:last-child h3 {
        font-size: 18px;
        margin-bottom: 12px;
    }
}

#history div:last-child h3 span {
    color: var(--main-color);
}

#history div:last-child p {
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
}

@media(min-width:576px) and (max-width: 992px) {
    #history div:last-child p {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media(max-width:576px) {
    #history div:last-child p {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

#history div:last-child a {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #ffffff;
    margin: auto;
    color: var(--color-dark);
    transition: .35s;
}

#history div:last-child a:hover {
    background-color: var(--main-color);
}

@media(max-width:576px) {
    #history div:last-child a {
        font-size: 14px;
        padding: 8px 15px;
    }
}

/* start type sec  */
#types {
    display: flex;
}

@media(min-width: 576px) and (max-width: 768px) {
    #types {
        flex-wrap: wrap;
        gap: 15px;
        padding: 30px;
    }
}

@media (max-width:576px) {
    #types {
        flex-direction: column;
    }
}

#types div {
    width: calc(100% / 3);
    padding: 50px 100px;
    transition: .35s;
}

#types div:hover {
    background-color: var(--main-color);
}

@media(min-width: 768px) and (max-width: 992px) {
    #types div {
        padding: 50px 30px;
    }
}

@media(min-width: 576px) and (max-width: 768px) {
    #types div {
        padding: 50px 30px;
        width: calc(100% / 2.1);
        margin: auto;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.186);
    }
}

@media (max-width:576px) {
    #types div {
        width: 100%;
        padding: 50px 20px;
    }
}

#types div i {
    font-size: 35px;
    color: var(--color-dark);
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#types div h4 {
    font-size: 20px;
    color: var(--color-dark);
    text-align: center;
    margin-bottom: 15px;
}

@media (max-width:576px) {
    #types div h4 {
        font-size: 18px;
    }
}

#types div p {
    font-size: 14px;
    color: var(--text-gray);
    text-align: center;
}

/* start footer  */
footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-gray);
}

footer p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

@media (max-width:576px) {
    footer p {
        font-size: 16px;
    }
}

/* ----------------start about page ---------------- */
#about {
    margin-top: 9vh;
    padding: 20px 0;
}

#about .all {
    display: flex;
    gap: 45px;
}

@media(max-width: 768px) {
    #about .all {
        flex-direction: column;
        gap: 20px;
    }

    #about .all div {
        order: 2;
    }
}

#about .all div h1 {
    font-size: 35px;
    color: var(--color-dark);
    margin-bottom: 10px;
}

@media(min-width:576px) and (max-width:768px) {
    #about .all div h1 {
        text-align: center;
    }
}

@media(max-width:576px) {
    #about .all div h1 {
        text-align: center;
        font-size: 25px;
    }
}

#about .all div h1 span {
    color: var(--main-color);
}

#about .all div p {
    color: var(--text-gray);
}

@media(min-width:576px) and (max-width:768px) {
    #about .all div p {
        text-align: center;
    }
}

@media(max-width:576px) {
    #about .all div p {
        text-align: center;
        font-size: 14px;
    }
}

#about .all div p.first {
    margin-bottom: 20px;
}

#about .all img {
    border-radius: 50%;
    display: block;
}

@media(min-width: 768px) and (max-width:992px) {
    #about .all img {
        width: 50%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #about .all img {
        order: 1;
        margin: auto;
        width: 70%;
    }
}

@media (max-width: 576px) {
    #about .all img {
        order: 1;
        margin: auto;
        width: 90%;
    }
}

/* START SAYS SEC  */
#says {
    background-size: cover !important;
    height: 600px;
    position: relative;
}

@media (max-width: 576px) {
    #says {
        height: 900px;
    }
}

#says h2 {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    #says h2 {
        font-size: 25px;
    }
}

#says .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 74, 79, 0.71);
    padding-top: 100px;
}

/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 576px) {
    #says .overlay {
        padding: 60px 0;
    }
}

#says .box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    background-color: rgba(247, 193, 138, 0.719);
    padding: 20px;
}

@media (max-width: 576px) {
    #says .box {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}

#says .box1 {
    margin-bottom: 50px;
}

#says .box img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#says .box p {
    font-size: 14px;
    color: var(--color-dark);
}

@media (max-width: 576px) {
    #says .box p {
        text-align: center;
    }
}

/* -------------------start contact page-------------------- */
#contact-form {
    padding: 30px 0;
    margin-top: 9vh;
}

#contact-form h1 {
    font-size: 40px;
    color: var(--color-dark);
    margin-bottom: 15px;
}

@media(min-width: 576px) and (max-width:768px) {
    #contact-form h1 {
        text-align: center;
    }
}

@media (max-width:576px) {
    #contact-form h1 {
        text-align: center;
        font-size: 30px;
    }
}

#contact-form h1 span {
    color: var(--main-color);
}

#contact-form p {
    color: var(--color-dark);
    margin-bottom: 15px;
}

@media(min-width: 576px) and (max-width:768px) {
    #contact-form p {
        text-align: center;
    }
}

@media (max-width:576px) {
    #contact-form p {
        text-align: center;
        font-size: 14px;
    }
}

#contact-form form div:not(:last-child) {
    margin-bottom: 25px;
}

@media (max-width:576px) {
    #contact-form form div:not(:last-child) {
        margin-bottom: 18px;
    }
}

#contact-form form div label {
    display: block;
    margin-bottom: 10px;
    color: var(--color-dark);
}

@media (max-width:576px) {
    #contact-form form div label {
        font-size: 14px;
        margin-bottom: 7px;
    }
}

#contact-form form div input,
#contact-form form div textarea {
    display: block;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #aaa;
    transition: .2s;
    border-radius: 5px;
    color: #333333;
    font-size: 16px;
}

@media (max-width:576px) {

    #contact-form form div input,
    #contact-form form div textarea {
        font-size: 14px;
        padding: 7px 15px;
    }
}

#contact-form form div textarea {
    resize: vertical;
}

#contact-form form div input:focus,
#contact-form form div textarea:focus {
    border: 2px solid var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
}

#contact-form form button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--color-dark);
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: .35s;
    border-radius: 3px;
}

@media(min-width:567px) and (max-width:768px) {
    #contact-form form button {
        margin: auto;
    }
}

@media (max-width:567px) {
    #contact-form form button {
        width: 100%;
    }
}

#contact-form form button:hover {
    background-color: var(--main-color);
    color: var(--color-dark);
}

/* start contact sec  */
#contact {
    background-color: var(--color-dark);
}

#contact .all {
    display: flex;
}

@media(min-width:567px) and (max-width:768px) {
    #contact .all {
        flex-wrap: wrap;
    }
}


@media (max-width:567px) {
    #contact .all {
        flex-direction: column;
    }
}

#contact .all div {
    width: calc(100% / 3);
    padding: 50px 0;
}

@media(min-width:567px) and (max-width:768px) {
    #contact .all div {
        width: calc(100% / 2.1);
        margin: auto;
    }
}

@media (max-width:567px) {
    #contact .all div {
        width: 100%;
    }
}

#contact .all div i {
    display: block;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}

@media(min-width:768px) and (max-width:992px) {
    #contact .all div i {
        font-size: 40px;
    }
}

@media (max-width:768px) {
    #contact .all div i {
        font-size: 35px;
    }
}

#contact .all div h4 {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width:992px) {
    #contact .all div h4 {
        font-size: 16px;
    }
}

#contact .all div p {
    color: #cccccc;
    text-align: center;
}

@media (max-width:992px) {
    #contact .all div p {
        font-size: 14px;
    }
}